/* *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

} */

:root {
    background-color: #f3f4f5;
}

h1 {
    font-family: arial;
    font-size: 24px;
    color: black;
}

p {
   font-family:  Georgia, 'Times New Roman', Times, serif;
   font-size: 18px;
   color: #757575; 

}